body {
background-color: antiquewhite;

}

.fullBage {
font-size: large;
    width: 500px;
    height: 400px;
    border-radius: 99px;
    text-align: left;
    align-items: center;
}

.text label{
font-size: 20px;
font-family: Verdana Tahoma;
}

.box {
font-size: 20px;
font-family: Verdana Tahoma;
}

.text {
font-size: 20px;
font-family: Verdana Tahoma;
border-radius: 9px;
color: rgb(86, 2, 2);

}

#al {
    font-size: 20px;
    font-family: Verdana Tahoma;
    border-radius: 9px; 
    background-color: white;
    border-color: rgb(10, 4, 4);
}

.ff {
margin-top:60px;
margin-right: 30px;
margin-left: 30px;

}

